html
  head
    title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,user-scalable=no,initial-scale=1")
    link(rel='stylesheet' type='text/css' href='/static/photos.css')
    script(src='/static/slip.js')
  body
  div(class='container')
    each file, index in files
      div(class='image' data-file='#{file}')
        a(href='/uploads/#{file}')
          img(src='/uploads/#{file}')

    script(src='/static/photos.js')
      
