

body {
  text-align: center;
}

div.container {
  /*
  display: flex;
  align-items: center;
  justify-content: center;
  */
  text-align: center;
}
  
div.image {
  margin: 1px;
}

div.image img {
  border: silver 1px solid;
  width: 240px;
}

